.WrapperVideoBG {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
    align-items: flex-end;
    filter: sepia(50%);
}

#VideoBG {
    position: absolute;
    top: 0;
    left: 0;   
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.about {
    width: 75%;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 0 auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2em;
    align-items: center;
    justify-items: center;
}

.about * {
    width: 100%;
}

.about img {
    object-fit: cover;
    object-position: center;
    height: 600px;
}

.workFeed {
    width: 75%;
    padding: 0;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 0 auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
    align-items: center;
    justify-items: center;
}

.workFeed div * {
    width: 300px;
    height: 300px;
    transition: .4s;
    margin: 0 auto;
}

.workFeed div {
    position: relative;
    display: block;
}

.workFeed img {
    object-fit: cover;
    object-position: center;
}

.workFeed div h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: white;
    padding-top: calc(50% - 11px);
    font-family: 'PT Sans Narrow', sans-serif;
    z-index: 2;
}

.about .intro-txt {
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    text-align: left;
}

.about .intro-txt h2 {
    margin-top: 15%;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: left;
    width: 100%;
}

.about .intro-txt p {
    font-size: 18px;
    width: 100%;
}

.cta {
    width: 100%;
    background: #BA3A2A;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
}

.cta h2 {
    margin: 0 auto;
    width: calc(100% - 10px);
    padding-top: 10px;
    font-weight: bold;
    font-size: 55px;
}

.cta p {
    margin: 0 auto;
    width: calc(100% - 10px);
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.cta .cta-btn {
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
    background: rgba(130, 130, 130, 0);
    color: white;
    border: 0;
    transition: .4s;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(26,52,79,0) 15%, rgba(54,53,71,0) 85%, rgba(255,255,255,1) 100%);
    border-image-slice: 1;
    padding: 1em;
}

.cta .cta-btn:hover {
    background: rgba(255, 255, 255, .2);
}